In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv('cities_income.csv', index_col=False, header=0);
df

,City,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010
0,"Birmingham, AL","46,346","44,463","44,447","44,716","44,710","45,423","45,198"
1,"Montgomery, AL","63,847","62,201","62,568","62,418","61,896","62,645","61,229"
2,"Anchorage, AK","102,500","99,630","98,317","96,935","95,632","94,073","91,251"
3,"Juneau, AK","104,005","102,355","97,588","96,025","95,433","93,994","89,373"
4,"Phoenix, AZ","69,216","66,345","65,770","65,199","65,968","66,709","66,996"
5,"Tucson, AZ","51,035","50,150","50,184","49,879","49,802","49,652","48,944"
6,"Little Rock, AR","72,819","71,162","69,979","68,869","69,255","68,959","68,139"
7,"Fort Smith, AR","55,054","55,079","57,320","55,840","54,918","56,633","53,991"
8,"San Diego, CA","90,685","87,081","86,416","84,889","84,653","84,949","83,941"
9,"Los Angeles, CA","85,514","82,941","82,109","81,416","81,729","81,636","79,658"
10,"Sacramento, CA","76,827","74,159","73,456","72,200","72,554","73,150","72,390"
11,"Denver, CO","83,293","79,959","77,658","74,746","73,079","71,297","68,203"
12,"Colorado Springs, CO","75,151","73,625","72,709","71,712","71,493","70,937","69,323"
13,"Aurora, CO","66,967","61,548","57,955","58,113","54,836","55,033","54,241"
14,"Bridgeport, CT","58,870","56,565","55,697","54,649","52,695","53,158","52,147"
15,"Hartford, CT","91,795","89,684","88,644","87,148","85,910","84,961","82,823"
16,"Dover, DE","59,711","58,033","57,825","58,583","59,307","59,811","58,073"
17,"Wilmington, DE","62,805","61,155","60,117","60,183","60,325","59,675","58,394"
18,"Jacksonville, FL","65,581","64,229","64,141","64,136","64,103","64,585","63,264"
19,"Miami, FL","69,069","67,497","66,582","65,616","65,799","65,652","64,371"
20,"Tallahassee, FL","58,573","57,667","57,994","57,548","58,276","57,639","55,540"
21,"Atlanta, GA","87,784","84,886","82,029","82,381","81,292","80,685","79,299"
22,"Savannah, GA","52,516","51,148","50,512","49,323","48,916","49,616","47,745"
23,"Honolulu, HI","96,742","92,649","91,139","89,741","88,917","87,851","86,398"
24,"Kauai, HI","83,242","79,608","78,042","76,516","76,395","76,576","75,989"
25,"Maui, HI","88,438","84,963","84,035","83,816","83,535","83,344","82,113"
26,"Boise, ID","62,481","59,680","56,155","54,602","54,627","55,415","56,525"
27,"Meridian, ID","79,379","76,783","75,177","75,657","75,674","74,932","75,207"
28,"Chicago, IL","77,019","74,003","72,215","71,745","71,020","70,487","68,646"
29,"Springfield, IL","70,191","68,289","66,995","65,978","66,350","65,418","64,345"
...,...,...,...,...,...,...,...,...
76,"Tulsa, OK","71,737","70,179","69,143","68,209","67,487","67,071","64,948"
77,"Portland, OR","81,308","76,685","74,939","73,160","71,290","69,269","67,266"
78,"Salem, OR","63,148","61,721","61,165","60,972","60,360","59,100","57,354"
79,"Harrisburg, PA","46,371","45,216","43,806","43,167","43,126","41,833","40,740"
80,"Philadelphia, PA","58,372","56,418","55,353","54,367","53,344","52,473","51,060"
81,"Providence, RI","70,082","68,444","67,581","66,395","66,041","65,595","63,919"
82,"Warwick, RI","81,613","80,855","77,402","76,136","73,799","72,341","69,893"
83,"Charleston, SC","81,013","77,100","75,060","72,569","71,993","71,734","70,875"
84,"Columbia, SC","66,233","63,749","63,690","64,281","63,663","62,071","60,267"
85,"Pierre, SD","67,429","66,697","66,771","71,569","68,971","67,936","62,504"
86,"Sioux Falls, SD","72,078","69,232","68,601","67,525","68,675","68,219","67,262"
87,"Nashville, TN","69,626","66,889","65,793","64,648","64,293","64,124","62,148"
88,"Memphis, TN","56,512","55,297","55,117","54,228","54,256","54,438","53,442"
89,"Austin, TX","73,091","71,505","70,416","66,651","67,217","70,102","70,306"
90,"El Paso, TX","57,023","56,657","56,319","55,486","54,668","53,280","50,505"
91,"Houston, TX","46,814","47,040","48,127","51,250","51,914","50,611","48,323"
92,"Salt Lake city, UT","75,847","72,922","69,662","69,724","66,346","64,801","62,792"
93,"West Valley City, UT","65,827","61,492","61,623","60,009","60,042","60,051","58,837"
94,"Burlington, VT","63,415","61,169","61,367","61,229","59,896","58,632","56,707"
95,"Montpelier, VT","72,013","72,017","68,125","71,385","70,408","67,861","63,892"
96,"Richmond, VA","56,748","58,774","61,340","61,382","62,477","58,993","53,407"
97,"Virginia Beach, VA","85,960","83,834","84,615","82,870","82,827","82,073","80,180"
98,"Olympia, WA","71,230","68,490","67,878","67,497","66,467","66,867","64,831"
99,"Seattle, WA","104,590","98,271","94,559","91,765","89,319","87,707","85,321"
100,"Charleston, WV","75,186","75,902","76,172","78,134","75,647","73,861","67,140"
101,"Huntington, WV","48,593","48,573","46,639","46,935","45,313","44,410","43,087"
102,"Madison, WI","75,870","73,324","72,338","70,803","70,651","69,758","67,973"
103,"Milwaukee, WI","62,382","60,361","59,527","58,861","58,729","58,199","57,317"
104,"Casper, WY","74,867","73,761","73,296","72,340","72,323","73,620","69,635"
105,"Cheyenne, WY","72,552","71,855","68,196","66,508","66,376","66,891","64,243"