In [1]:
import PyPDF2
import numbers
import pandas as pd

In [2]:
# Excel file with city/community well being data
happy_excel = 'Gallup_CommunityWellbeing.xlsx'
# Dependency: Install xlrd >= 0.9.0 for Excel support
df_happy = pd.read_excel(happy_excel)
# Delete first 6 lines as they have unimportant information
df_happy = df_happy.iloc[6:]
# Set columns to first row that has header information
df_happy.columns = df_happy.iloc[0]
# Now that header info from first row is saved as column names, drop first row
df_happy = df_happy.iloc[1:]
# Drop 'Demographic' and 'Demographic Value' columns, as they only contain string 'Aggregate'
df_happy.drop(['Demographic', 'Demographic Value'], axis=1, inplace=True)
# Drop 'N Size' as sample size is not important for our analysis
df_happy.drop(['N Size'], axis=1, inplace=True)

str_geo = 'Geography'
str_val = 'Value'
str_time = 'Time'

df_happy[str_val] = pd.to_numeric(df_happy[str_val])
df_happy[str_time] = pd.to_numeric(df_happy[str_time])

cities = df_happy.groupby(str_geo)

timeline = df_happy.pivot(index=str_geo, columns=str_time, values=str_val)

avg_happy = cities.mean()

print(timeline)
print(avg_happy)

Time                                          2014  2015  2016
Geography
Akron, OH                                     57.7  60.3  61.7
Albany-Schenectady-Troy, NY                   59.2  60.8  59.9
Albuquerque, NM                               60.3  57.0  59.4
Allentown-Bethlehem-Easton, PA-NJ             61.2  60.4  61.2
Anchorage, AK                                 65.7   NaN  64.4
Asheville, NC                                 66.2  67.9   NaN
Atlanta-Sandy Springs-Roswell, GA             59.7  60.0  60.6
Augusta-Richmond County, GA-SC                61.4  57.8  63.2
Austin-Round Rock, TX                         64.7  64.9  64.4
Bakersfield, CA                               57.2  57.2  57.3
Baltimore-Columbia-Towson, MD                 57.3  58.2  57.8
Baton Rouge, LA                               60.7  56.6  58.8
Birmingham-Hoover, AL                         59.9  63.0  61.6
Boise City, ID                                64.0  63.9  66.4
Boston-Cambridge-Newton, MA-NH                62.4  62.4  63.4
Bridgeport-Stamford-Norwalk, CT               60.5  62.1  60.9
Buffalo-Cheektowaga-Niagara Falls, NY         57.9  60.0  60.9
Cape Coral-Fort Myers, FL                     62.1  63.6  63.8
Charleston-North Charleston, SC               62.9  60.9  65.3
Charlotte-Concord-Gastonia, NC-SC             61.6  63.5  63.6
Chattanooga, TN-GA                            65.1  61.8  64.5
Chicago-Naperville-Elgin, IL-IN-WI            58.7  59.3  59.5
Cincinnati, OH-KY-IN                          58.8  60.3  61.2
Cleveland-Elyria, OH                          57.9  57.5  61.0
Colorado Springs, CO                          62.4  64.2  63.3
Columbia, SC                                  57.5  59.7  60.7
Columbus, OH                                  59.5  61.1  60.9
Dallas-Fort Worth-Arlington, TX               62.5  62.5  63.2
Dayton, OH                                    58.3  58.6  61.9
Deltona-Daytona Beach-Ormond Beach, FL        58.1  62.2  63.3
...                                            ...   ...   ...
Reno, NV                                      62.6   NaN   NaN
Richmond, VA                                  62.4  61.3  61.8
Riverside-San Bernardino-Ontario, CA          59.0  59.9  59.5
Rochester, NY                                 60.0  60.9  61.4
Sacramento--Roseville--Arden-Arcade, CA       60.5  59.5  61.7
Salem, OR                                     61.9   NaN   NaN
Salt Lake City, UT                            62.1  62.5  60.2
San Antonio-New Braunfels, TX                 63.8  64.9  64.9
San Diego-Carlsbad, CA                        63.0  63.1  63.9
San Francisco-Oakland-Hayward, CA             61.8  61.2  62.6
San Jose-Sunnyvale-Santa Clara, CA            61.9  62.5  60.7
Santa Rosa, CA                                63.4  64.4   NaN
Scranton--Wilkes-Barre--Hazleton, PA          56.3  57.1  57.7
Seattle-Tacoma-Bellevue, WA                   60.5  60.4  61.4
Spokane-Spokane Valley, WA                    60.7  63.1  62.0
Springfield, MA                               59.6  59.0  60.7
St. Louis, MO-IL                              59.2  58.5  60.6
Stockton-Lodi, CA                             57.3   NaN   NaN
Syracuse, NY                                  58.7  56.7  59.9
Tampa-St. Petersburg-Clearwater, FL           60.0  60.3  61.9
Toledo, OH                                    54.4  57.3  57.6
Tucson, AZ                                    60.5  60.4  60.8
Tulsa, OK                                     62.8  59.7  62.0
Urban Honolulu, HI                            64.5  66.2  68.0
Virginia Beach-Norfolk-Newport News, VA-NC    57.9  57.7  58.5
Washington-Arlington-Alexandria, DC-VA-MD-WV  61.6  60.9  62.7
Wichita, KS                                   61.2  61.2  62.7
Winston-Salem, NC                             63.2  61.8  63.2
Worcester, MA-CT                              58.5  57.8  59.7
Youngstown-Warren-Boardman, OH-PA             55.9   NaN  61.9

[110 rows x 3 columns]
nan                                             Time      Value
Geography
Akron, OH                                     2015.0  59.900000
Albany-Schenectady-Troy, NY                   2015.0  59.966667
Albuquerque, NM                               2015.0  58.900000
Allentown-Bethlehem-Easton, PA-NJ             2015.0  60.933333
Anchorage, AK                                 2015.0  65.050000
Asheville, NC                                 2014.5  67.050000
Atlanta-Sandy Springs-Roswell, GA             2015.0  60.100000
Augusta-Richmond County, GA-SC                2015.0  60.800000
Austin-Round Rock, TX                         2015.0  64.666667
Bakersfield, CA                               2015.0  57.233333
Baltimore-Columbia-Towson, MD                 2015.0  57.766667
Baton Rouge, LA                               2015.0  58.700000
Birmingham-Hoover, AL                         2015.0  61.500000
Boise City, ID                                2015.0  64.766667
Boston-Cambridge-Newton, MA-NH                2015.0  62.733333
Bridgeport-Stamford-Norwalk, CT               2015.0  61.166667
Buffalo-Cheektowaga-Niagara Falls, NY         2015.0  59.600000
Cape Coral-Fort Myers, FL                     2015.0  63.166667
Charleston-North Charleston, SC               2015.0  63.033333
Charlotte-Concord-Gastonia, NC-SC             2015.0  62.900000
Chattanooga, TN-GA                            2015.0  63.800000
Chicago-Naperville-Elgin, IL-IN-WI            2015.0  59.166667
Cincinnati, OH-KY-IN                          2015.0  60.100000
Cleveland-Elyria, OH                          2015.0  58.800000
Colorado Springs, CO                          2015.0  63.300000
Columbia, SC                                  2015.0  59.300000
Columbus, OH                                  2015.0  60.500000
Dallas-Fort Worth-Arlington, TX               2015.0  62.733333
Dayton, OH                                    2015.0  59.600000
Deltona-Daytona Beach-Ormond Beach, FL        2015.0  61.200000
...                                              ...        ...
Reno, NV                                      2014.0  62.600000
Richmond, VA                                  2015.0  61.833333
Riverside-San Bernardino-Ontario, CA          2015.0  59.466667
Rochester, NY                                 2015.0  60.766667
Sacramento--Roseville--Arden-Arcade, CA       2015.0  60.566667
Salem, OR                                     2014.0  61.900000
Salt Lake City, UT                            2015.0  61.600000
San Antonio-New Braunfels, TX                 2015.0  64.533333
San Diego-Carlsbad, CA                        2015.0  63.333333
San Francisco-Oakland-Hayward, CA             2015.0  61.866667
San Jose-Sunnyvale-Santa Clara, CA            2015.0  61.700000
Santa Rosa, CA                                2014.5  63.900000
Scranton--Wilkes-Barre--Hazleton, PA          2015.0  57.033333
Seattle-Tacoma-Bellevue, WA                   2015.0  60.766667
Spokane-Spokane Valley, WA                    2015.0  61.933333
Springfield, MA                               2015.0  59.766667
St. Louis, MO-IL                              2015.0  59.433333
Stockton-Lodi, CA                             2014.0  57.300000
Syracuse, NY                                  2015.0  58.433333
Tampa-St. Petersburg-Clearwater, FL           2015.0  60.733333
Toledo, OH                                    2015.0  56.433333
Tucson, AZ                                    2015.0  60.566667
Tulsa, OK                                     2015.0  61.500000
Urban Honolulu, HI                            2015.0  66.233333
Virginia Beach-Norfolk-Newport News, VA-NC    2015.0  58.033333
Washington-Arlington-Alexandria, DC-VA-MD-WV  2015.0  61.733333
Wichita, KS                                   2015.0  61.700000
Winston-Salem, NC                             2015.0  62.733333
Worcester, MA-CT                              2015.0  58.666667
Youngstown-Warren-Boardman, OH-PA             2015.0  58.900000

[110 rows x 2 columns]

In [3]:
timeline.to_csv('timeline_happy.csv', encoding='utf-8')
avg_happy.to_csv('avg_happy.csv', encoding='utf-8')