# What Dis

2010â€“2016 crime data for cities throughout the United States as curated by the FBI

[source](https://ucr.fbi.gov/crime-in-the-u.s/)

# Imports and Definitions

In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
def to_val(cell):
    val = cell.get_text().strip().replace(',', '')
    return float(val) if val != '' else np.nan

In [4]:
typos = { # good job, FBI
    "massachuetts": "massachusetts"
}

In [5]:
years = [str(year) for year in range(2009, 2016+1)]

# Scraping

In [6]:
data = []
with requests.Session() as session:
    for year in years:
        print("scraping {year} data for".format(year=year), end=' ')
        if year == '2009':
            states_list_url = "https://www2.fbi.gov/ucr/cius2009/data/table_08.html"
            state_anchors = BeautifulSoup(session.get(states_list_url).content, 'html.parser') \
                                  .find_all(id='page_content')[-1]                             \
                                  .find(class_='secondarywrapper')                             \
                                  .find_all('a')
        else:
            base_url = "https://ucr.fbi.gov/crime-in-the-u.s/{year}/crime-in-the-u.s.-{year}".format(year=year)
            states_list_url = BeautifulSoup(session.get(base_url).content, 'html.parser') \
                                  .find(id='quick_finds')                                 \
                                  .find_next('div')                                       \
                                  .find_next('a')                                         \
                                  .get('href')
            # "secardary" is not a typo on my end
            state_anchors = BeautifulSoup(session.get(states_list_url).content, 'html.parser') \
                                  .find_all(id='page_content')[-1]                             \
                                  .find(class_='secardarywrapper')                             \
                                  .find_all('a')
        for state_anchor in state_anchors:
            state = state_anchor.get_text().strip().lower()
            if state in typos:
                state = typos[state]
            print(state, end=', ')
            state_url = state_anchor.get('href')
            if year == '2009': # 2009 uses relative hrefs
                state_url = states_list_url[:-13] + state_url
                
            table_body = BeautifulSoup(session.get(state_url).content, 'html.parser') \
                              .find_all('table', class_='data')[-1]                   \
                              .find('tbody')
            if year == '2009': # the formatting for 2009 is atrocious
                year_data = []
                for row in table_body.find_all('tr'):
                    cells = row.find_all('td')
                    year_data.append(pd.Series([
                        state,
                        row.find('th').get_text().strip().rstrip("0123456789").lower(), # city
                        year,
                        to_val(cells[0]), # population
                        to_val(cells[2]), # murder
                        to_val(cells[3]), # forcible rape
                        to_val(cells[4]), # robbery
                        to_val(cells[5]), # aggravated assault
                        to_val(cells[7]), # burglary
                        to_val(cells[8]), # larceny or theft
                        to_val(cells[9]), # motor vehicle theft
                        to_val(cells[10]) # arson
                    ]).to_frame().transpose())
                year_df = pd.concat(year_data, ignore_index=True)
                year_df.columns = ['state',
                    'city',
                    'year',
                    'population',
                    'murder',
                    'forcible rape',
                    'robbery',
                    'aggravated assault',
                    'burglary',
                    'larceny or theft',
                    'motor vehicle theft',
                    'arson'
                ]
                data.append(year_df)
            elif year in ['2010', '2011', '2012']:
                data.append(pd.DataFrame({
                    'state': state,
                    'city': [cell.get_text().strip().rstrip("0123456789").lower()
                             for cell in table_body.find_all(class_='group0')],
                    'year': year,
                    'population': [to_val(cell)
                             for cell in table_body.find_all(class_='group1')],
                    'murder': [to_val(cell)
                             for cell in table_body.find_all(class_='group3')],
                    'forcible rape': [to_val(cell)
                             for cell in table_body.find_all(class_='group4')],
                    'robbery': [to_val(cell)
                             for cell in table_body.find_all(class_='group5')],
                    'aggravated assault': [to_val(cell)
                             for cell in table_body.find_all(class_='group6')],
                    'burglary': [to_val(cell)
                             for cell in table_body.find_all(class_='group8')],
                    'larceny or theft': [to_val(cell)
                             for cell in table_body.find_all(class_='group9')],
                    'motor vehicle theft': [to_val(cell)
                             for cell in table_body.find_all(class_='group10')],
                    'arson': [to_val(cell)
                             for cell in table_body.find_all(class_='group11')]
                }))
            else: # the FBI revised their definition of rape in 2013, and added an extra column to the table
                year_data = pd.DataFrame({
                    'state': state,
                    'city': [cell.get_text().strip().rstrip("0123456789").lower()
                             for cell in table_body.find_all(class_='group0')],
                    'year': year,
                    'population': [to_val(cell)
                             for cell in table_body.find_all(class_='group1')],
                    'murder': [to_val(cell)
                             for cell in table_body.find_all(class_='group3')],
                    'rape (revised)': [to_val(cell)
                             for cell in table_body.find_all(class_='group4')],
                    'rape (legacy)': [to_val(cell)
                             for cell in table_body.find_all(class_='group5')],
                    'robbery': [to_val(cell)
                             for cell in table_body.find_all(class_='group6')],
                    'aggravated assault': [to_val(cell)
                             for cell in table_body.find_all(class_='group7')],
                    'burglary': [to_val(cell)
                             for cell in table_body.find_all(class_='group9')],
                    'larceny or theft': [to_val(cell)
                             for cell in table_body.find_all(class_='group10')],
                    'motor vehicle theft': [to_val(cell)
                             for cell in table_body.find_all(class_='group11')],
                    'arson': [to_val(cell)
                             for cell in table_body.find_all(class_='group12')]
                })
                year_data['forcible rape'] = pd.Series([legacy if pd.isnull(revised) else revised
                                                        for revised, legacy
                                                        in zip(
                                                            year_data['rape (revised)'].values,
                                                            year_data['rape (legacy)'].values)],
                                                       index=year_data.index)
                year_data.drop(['rape (revised)', 'rape (legacy)'], axis=1, inplace=True)
                data.append(year_data)
        print('\n')

df = pd.concat(data, ignore_index=True).set_index(['state', 'city', 'year']).sort_index()

scraping 2009 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, hawaii, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2010 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, hawaii, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2011 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2012 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2013 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2014 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2015 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, hawaii, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

scraping 2016 data for alabama, alaska, arizona, arkansas, california, colorado, connecticut, delaware, district of columbia, florida, georgia, hawaii, idaho, illinois, indiana, iowa, kansas, kentucky, louisiana, maine, maryland, massachusetts, michigan, minnesota, mississippi, missouri, montana, nebraska, nevada, new hampshire, new jersey, new mexico, new york, north carolina, north dakota, ohio, oklahoma, oregon, pennsylvania, rhode island, south carolina, south dakota, tennessee, texas, utah, vermont, virginia, washington, west virginia, wisconsin, wyoming,

In [7]:
df.to_pickle("fbi_crime_data.pkl")

In [8]:
df

                         aggravated assault arson burglary forcible rape  \
state   city        year
alabama abbeville   2009                  8   NaN       18             1
                    2010                 20   NaN       19             0
                    2011                 10     1       12             1
                    2012                 18   NaN       16             1
                    2013                  7   NaN       21             1
                    2014                  7   NaN       22             1
                    2015                  6   NaN       24             3
                    2016                 10   NaN       12             1
        adamsville  2009                  7   NaN       33             1
                    2010                  5   NaN       21             3
                    2011                 26     2       61             2
                    2012                 20   NaN       49             1
                    2013                 11   NaN       58             0
                    2014                 19   NaN       43             5
                    2015                 16   NaN       38             3
                    2016                  9   NaN       33             0
        addison     2009                  4   NaN        4             1
                    2010                  0   NaN        3             0
                    2011                  1     1        9             0
                    2012                  7   NaN        5             0
                    2013                  0   NaN        6             1
                    2014                  1   NaN        6             0
                    2015                  4   NaN       11             0
                    2016                  1   NaN        1             0
        alabaster   2009                 27   NaN       82             2
                    2010                 26   NaN       22             0
                    2011                 46     1       86             1
                    2012                 41   NaN       65             2
                    2013                 31   NaN       70             2
                    2014                 37   NaN       68             9
...                                     ...   ...      ...           ...
wyoming thermopolis 2011                  0     0        3             0
                    2012                  6     1        6             0
                    2013                  2     0       14             0
                    2014                  0     3        5             1
                    2015                  0     0        1             1
                    2016                  3     0        3             0
        torrington  2009                  9     0       29             2
                    2010                 17     0       28             1
                    2011                  7     0       20             2
                    2012                 26     0       33             0
                    2013                 17     0       33             1
                    2014                 20     0       29             1
                    2015                 18     0       24             0
                    2016                 25     0       19             0
        wheatland   2009                  4     0       26             0
                    2010                  2     0       51             2
                    2011                  4     0       12             1
                    2012                  3     0       15             1
                    2013                 11     0       21             0
                    2014                  5     0       32             2
                    2015                  4     0       31             0
                    2016                  8     0       13             0
        worland     2009                  2     0        0             0
                    2010                  9     0        6             0
                    2011                  1     0        1             0
                    2012                  4     0        0             0
                    2013                  7     0        2             0
                    2014                  2     0        0             1
                    2015                  1     0       11             0
                    2016                  3     0       18             3

                         larceny or theft motor vehicle theft murder  \
state   city        year
alabama abbeville   2009               33                   2      0
                    2010               45                   3      1
                    2011               51                   2      0
                    2012               38                   3      0
                    2013               39                   3      1
                    2014               52                  11      0
                    2015               50                   2      0
                    2016               34                   5      0
        adamsville  2009              291                  18      0
                    2010              250                  23      0
                    2011              226                  13      2
                    2012              223                  20      0
                    2013              252                  11      1
                    2014              321                   9      0
                    2015              278                  14      1
                    2016              201                  16      0
        addison     2009               22                   3      0
                    2010               26                   4      0
                    2011               15                   4      0
                    2012               18                   6      0
                    2013               17                   2      0
                    2014               22                   3      0
                    2015               15                   2      0
                    2016               11                   2      0
        alabaster   2009              522                  31      0
                    2010              458                  35      0
                    2011              541                  29      2
                    2012              585                  33      0
                    2013              544                  26      0
                    2014              526                  18      1
...                                   ...                 ...    ...
wyoming thermopolis 2011               42                   0      0
                    2012               37                   2      0
                    2013               54                   3      0
                    2014               16                   1      0
                    2015                7                   4      0
                    2016               28                   1      1
        torrington  2009              102                   7      0
                    2010              127                   6      0
                    2011              132                   1      0
                    2012              108                   1      0
                    2013               85                   3      0
                    2014               73                   5      0
                    2015               88                   4      0
                    2016               77                   3      0
        wheatland   2009               85                   3      0
                    2010              106                   4      0
                    2011              128                   6      5
                    2012               48                   4      0
                    2013               85                   8      0
                    2014               66                  12      0
                    2015               56                   7      0
                    2016               47                   3      0
        worland     2009               27                   1      0
                    2010               23                   1      0
                    2011               30                   0      0
                    2012               36                   1      0
                    2013               45                   0      0
                    2014               54                   0      0
                    2015               46                   0      0
                    2016               43                   1      0

                         population robbery
state   city        year
alabama abbeville   2009       2932       0
                    2010       2950       0
                    2011       2701       2
                    2012       2715       3
                    2013       2645       2
                    2014       2643       0
                    2015       2610       0
                    2016       2608       0
        adamsville  2009       4704      17
                    2010       4796       2
                    2011       4544       7
                    2012       4543       7
                    2013       4481       7
                    2014       4430       6
                    2015       4414       5
                    2016       4377      10
        addison     2009        710       0
                    2010        714       0
                    2011        762       0
                    2012        757       0
                    2013        744       0
                    2014        747       0
                    2015        748       0
                    2016        738       0
        alabaster   2009      30002      12
                    2010      30781       7
                    2011      30498      10
                    2012      30923       6
                    2013      31170      11
                    2014      31568      11
...                             ...     ...
wyoming thermopolis 2011       3033       0
                    2012       3045       0
                    2013       3023       0
                    2014       3047       0
                    2015       3024       0
                    2016       2967       3
        torrington  2009       5486       0
                    2010       5816       0
                    2011       6553       1
                    2012       6787       0
                    2013       6797       0
                    2014       6842       0
                    2015       6762       1
                    2016       6676       0
        wheatland   2009       3273       0
                    2010       3290       0
                    2011       3656       0
                    2012       3733       0
                    2013       3644       0
                    2014       3657       0
                    2015       3666       0
                    2016       3665       0
        worland     2009       4926       0
                    2010       5157       0
                    2011       5531       0
                    2012       5537       0
                    2013       5441       0
                    2014       5447       0
                    2015       5335       0
                    2016       5348       0

[74874 rows x 9 columns]